<mat-dialog-content>
  <mat-toolbar>
    <span>Exam information</span>
  </mat-toolbar>

  <div class="example-container">

    <mat-form-field>
      <input matInput  placeholder="name of the exam" [(ngModel)]="specialty.nameSpecialty" >
    </mat-form-field>

    <mat-form-field>
      <input matInput  placeholder="LastName" [(ngModel)]="specialty.descriptionSpecialty" >
    </mat-form-field>

  </div>
  <button mat-raised-button color="primary" (click)="operate()">Done</button>
  <button mat-raised-button color="accent" (click)="close()">Close</button>

</mat-dialog-content>
